# start automatic section for compile-latex:archi01.tex
/.compile-latex/archi01
/archi01.aux
/archi01.fls
/archi01.log
/archi01.nav
/archi01.out
/archi01.pdf
/archi01.snm
/archi01.toc
/archi01.vrb
# stop automatic section for compile-latex:archi01.tex
# start automatic section for compile-latex:archi01.tex/poly01
/.compile-latex/poly01
/poly01.aux
/poly01.fls
/poly01.log
/poly01.nav
/poly01.out
/poly01.pdf
/poly01.snm
/poly01.toc
/poly01.vrb
# stop automatic section for compile-latex:archi01.tex/poly01
# start automatic section for compile-latex:archi.tex
/.compile-latex/archi
/archi.aux
/archi.fls
/archi.log
/archi.nav
/archi.out
/archi.pdf
/archi.snm
/archi.toc
/archi.vrb
# stop automatic section for compile-latex:archi.tex
# start automatic section for compile-latex:archi.tex/poly
/.compile-latex/poly
/poly.aux
/poly.fls
/poly.log
/poly.nav
/poly.out
/poly.pdf
/poly.snm
/poly.toc
/poly.vrb
# stop automatic section for compile-latex:archi.tex/poly
# start automatic section for compile-latex:archi02.tex
/.compile-latex/archi02
/archi02.aux
/archi02.fls
/archi02.log
/archi02.nav
/archi02.out
/archi02.pdf
/archi02.snm
/archi02.toc
/archi02.vrb
# stop automatic section for compile-latex:archi02.tex
# start automatic section for compile-latex:archi02.tex/poly02
/.compile-latex/poly02
/poly02.aux
/poly02.fls
/poly02.log
/poly02.nav
/poly02.out
/poly02.pdf
/poly02.snm
/poly02.toc
/poly02.vrb
# stop automatic section for compile-latex:archi02.tex/poly02
# start automatic section for compile-latex:archi.tex/exo
/.compile-latex/exo
/exo.aux
/exo.fls
/exo.log
/exo.pdf
# stop automatic section for compile-latex:archi.tex/exo
# start automatic section for compile-latex:archi.tex/prof
/.compile-latex/prof
/prof.aux
/prof.fls
/prof.log
/prof.pdf
# stop automatic section for compile-latex:archi.tex/prof
# start automatic section for compile-latex:archi01.tex/exo01
/.compile-latex/exo01
/exo01.aux
/exo01.fls
/exo01.log
/exo01.pdf
# stop automatic section for compile-latex:archi01.tex/exo01
# start automatic section for compile-latex:archi01.tex/prof01
/.compile-latex/prof01
/prof01.aux
/prof01.fls
/prof01.log
/prof01.pdf
# stop automatic section for compile-latex:archi01.tex/prof01
# start automatic section for compile-latex:archi02.tex/exo02
/.compile-latex/exo02
/exo02.aux
/exo02.fls
/exo02.log
/exo02.pdf
# stop automatic section for compile-latex:archi02.tex/exo02
# start automatic section for compile-latex:archi02.tex/prof02
/.compile-latex/prof02
/prof02.aux
/prof02.fls
/prof02.log
/prof02.pdf
# stop automatic section for compile-latex:archi02.tex/prof02
# start automatic section for compile-latex:archi03.tex
/.compile-latex/archi03
/archi03.aux
/archi03.fls
/archi03.log
/archi03.nav
/archi03.out
/archi03.pdf
/archi03.snm
/archi03.toc
/archi03.vrb
# stop automatic section for compile-latex:archi03.tex
# start automatic section for compile-latex:archi03.tex/exo03
/.compile-latex/exo03
/exo03.aux
/exo03.fls
/exo03.log
/exo03.pdf
# stop automatic section for compile-latex:archi03.tex/exo03
# start automatic section for compile-latex:archi03.tex/poly03
/.compile-latex/poly03
/poly03.aux
/poly03.fls
/poly03.log
/poly03.nav
/poly03.out
/poly03.pdf
/poly03.snm
/poly03.toc
/poly03.vrb
# stop automatic section for compile-latex:archi03.tex/poly03
# start automatic section for compile-latex:archi03.tex/prof03
/.compile-latex/prof03
/prof03.aux
/prof03.fls
/prof03.log
/prof03.pdf
# stop automatic section for compile-latex:archi03.tex/prof03
# start automatic section for compile-latex:archi04.tex
/.compile-latex/archi04
/archi04.aux
/archi04.fls
/archi04.log
/archi04.nav
/archi04.out
/archi04.pdf
/archi04.snm
/archi04.toc
/archi04.vrb
# stop automatic section for compile-latex:archi04.tex
# start automatic section for compile-latex:archi04.tex/exo04
/.compile-latex/exo04
/exo04.aux
/exo04.fls
/exo04.log
/exo04.pdf
# stop automatic section for compile-latex:archi04.tex/exo04
# start automatic section for compile-latex:archi04.tex/poly04
/.compile-latex/poly04
/poly04.aux
/poly04.fls
/poly04.log
/poly04.nav
/poly04.out
/poly04.pdf
/poly04.snm
/poly04.toc
/poly04.vrb
# stop automatic section for compile-latex:archi04.tex/poly04
# start automatic section for compile-latex:archi04.tex/prof04
/.compile-latex/prof04
/prof04.aux
/prof04.fls
/prof04.log
/prof04.pdf
# stop automatic section for compile-latex:archi04.tex/prof04
# start automatic section for compile-latex:sys01.tex
/.compile-latex/sys01
/sys01.aux
/sys01.fls
/sys01.log
/sys01.nav
/sys01.out
/sys01.pdf
/sys01.snm
/sys01.toc
# stop automatic section for compile-latex:sys01.tex
# start automatic section for compile-latex:sys01.tex/spoly01
/.compile-latex/spoly01
/spoly01.aux
/spoly01.fls
/spoly01.log
/spoly01.nav
/spoly01.out
/spoly01.pdf
/spoly01.snm
/spoly01.toc
# stop automatic section for compile-latex:sys01.tex/spoly01
